<div class="container">
  <h1 class="text-center mb-5 mt-5">Gestion des événements</h1>
  <%= link_to "Dashboard administrateur", admin_root_path, class: "btn btn-warning mb-5" %>

      <div class="text-center">
    <div class= "row text-center">
      <% @events.each do |event| %>
        <div class="col-4 mb-4">
          <div class="card">
            <div class="card-header">
              Event numero <%= event.id%>
            </div>
            <%if event.avatar.attached?%>
              <%= image_tag event.avatar, class:"card-img-top card-event", alt: 'avatar' %>
            <%end%>
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <h6>Participants (<%= event.users.count %>)</h6>
              <%= link_to "Lire la suite", event_path(event.id), class: "btn btn-primary btn-sm" %>
              <%= link_to "Valider", edit_admin_event_submission_path(event.id), class: "btn btn-warning btn-sm" %>
              <%= link_to "Supprimer", admin_event_submission_path(event.id), class: "btn btn-danger btn-sm", data: {confirm: "Es-tu sur?", method: "delete"} %>
            </div>
          </div>
        </div>  
      <% end %>
    </div>
  </div>

</div>