<div class="container">
  <h3>Avatar actuel</h3>
  <%if @user.avatar.attached?%>
    <%= image_tag @user.avatar, alt: 'avatar' %>
  <%else%>
    <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
  <%end%>
  <h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <div class="form-group">
    <%= file_field_tag :avatar %>
  </div>
  <%= submit_tag "Mettre à jour", class: "btn btn-primary mb-3" %>
<% end %>

  <div class="card text-center mb-5 mt-5">
    <h5 class="card-header">ID utilisateur <%= @user.id %></h5>
    <div class="card-body">
      <h3 class="card-title mb-5">Prénom : <%= @user.first_name %></h3>
      <h3 class="card-title mb-5">Nom : <%= @user.last_name %></h3>    
      <h3 class="card-text mb-5">Description : <%= @user.description %></h3>
      <h3 class="card-text mb-5">Email : <%= @user.email %></h3>
      <p>
        <%= link_to "Modifier email/mot de passe", edit_user_registration_path(@user), class: "btn btn-success" %>
      </p>
    </div>
  </div>
  <h2>Evenements créés </h2>
    <div class="row">
      <% @user.events_hosted.each do |event| %>
        <div class="card m-2 shadow-sm p-3 mb-5 rounded hoverable" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p><%= link_to "Plus d'infos", event_path(event.id), class: "btn btn-primary" %></p>
          </div>
        </div>
      <% end %> 
    </div> 
  <p><%= link_to "Retourner à la liste des événements", root_path, class: "btn btn-primary" %></p>
</div>