<div class="container mb-5">
  <h1 class="text-center mb-5 mt-5">Gestion des utilisateurs</h1>
  <%= link_to "Dashboard administrateur", admin_root_path, class: "btn btn-info" %>
  <div class="text-center">
      <% @users.each do |user| %>
        <div class="card m-2 shadow-sm p-3 mb-5  rounded hoverable event">
          <div class="card-body">
            <h4 class="card-title">id: <%= user.id %></h4>
            <h4 class="card-title">email: <%= user.email %></h4>
            <h4 class="card-title">prénom: <%= user.first_name %></h4>
            <h4 class="card-title">nom: <%= user.last_name %></h4>
            <h4 class="card-title">description: <%= user.description %></h4>
            <%= link_to "Détails", user_path(user.id), class: "btn btn-primary" %>
            <%= link_to "Supprimer", user_path(user.id), class: "btn btn-danger", data: {confirm: "Es-tu sur?", method: "delete"} %>
          </div>
        </div>
      <% end %>
  </div>
</div>