<div class="container">
  <div class="card text-center mb-5 mt-5">
    <h3 class="card-header">Liste des participants de l'événement: <%= @event.title %> (n°<%= @event.id %>)</h3>
    <div class="card-body">
      <h4>Participants - <%= @attendances.count %></h4>
      <% @attendances.each do |attendance| %>
        <h5 class="card-title mb-5">Mail: <%= attendance.user.email %></h5>
      <% end %>
    </div>
    <p>
      <%= link_to "Editer l\'événement", edit_event_path(@event), class: "btn btn-primary" %>
      <%= link_to "Supprimer l\'événement", event_path(@event), class: "btn btn-danger", data: {confirm: "Es-tu sur?", method: "delete"} %>
    </p>
  </div> 
  
</div>
